@import '../styles/colorVariables.scss';

.devtoolsWrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    background: $backgroundColor;

    .body {
        width: 60%;
        overflow: auto;
    }
    .sidePanel {
        min-width: 250px;
        width: 40%;
        background: $sidePanel;
        border-left: 1px solid $statusPanelBorder;
    }
}
