.statusPanel {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(22, 30, 46);
    width: 400px;
    margin: 0 10px;

    .controls {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 50px;

        .button {
            height: 30px;

            display: flex;
            justify-content: center;
            align-items: center;

            padding: 10px;
            box-sizing: border-box;
            border: 2px solid black;
            border-radius: 10px;
            cursor: pointer;

            &:hover {
                background: rgb(240, 240, 240);
            }
        }

        .steps {
            font-size: 20px;
            font-weight: bold;
        }

        .statusButton {
            &.initValuesShown {
                border: 2px solid rgb(113, 5, 236);
                color: rgb(113, 5, 236);
            }

            height: 30px;
            width: 140px;

            display: flex;
            justify-content: center;
            align-items: center;

            padding: 10px;
            box-sizing: border-box;
            border: 2px solid black;
            border-radius: 10px;
            cursor: pointer;

            &:hover {
                background: rgb(240, 240, 240);
            }
        }
    }

    .status {
        width: 100%;
        height: 50px;

        display: flex;
        justify-content: space-between;
        align-items: center;

        .statusAttr {
            color: rgb(113, 5, 236);
            font-weight: bold;
        }
    }
}
