@import '../../styles/colorVariables.scss';

.statusPanel {
    font-family: 'Inconsolata', monospace;
    color: $statusPanelText;
    background: $statusPanel;
    height: 300px;
    width: 100%;
    padding: 5px 10px;

    &.withSelect {
        height: 330px;
    }

    .selectWrapper {
        width: 100%;
        height: 30px;

        display: flex;
        justify-content: flex-start;
        align-items: center;

        .selectLabel {
            width: 120px;
        }

        > select {
            flex-grow: 1;

            height: 100%;

            font-family: 'Inconsolata', monospace;
            font-size: 16px;
            cursor: pointer;
            border-radius: 10px;
            background: $statusPanelButton;
            color: $statusPanelText;
            border: 2px solid $statusPanelBorder;

            &:focus {
                outline: none;
            }
        }
    }

    .controls {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 50px;

        .button {
            font-size: 16px;
            user-select: none;
            height: 30px;

            display: flex;
            justify-content: center;
            align-items: center;

            padding: 10px;
            box-sizing: border-box;
            border: 2px solid $statusPanelBorder;
            border-radius: 10px;
            cursor: pointer;

            background: $statusPanelButton;
            color: $statusPanelButtonText;

            &:hover {
                background: $statusPanelButtonHovered;
            }
        }

        .steps {
            user-select: none;
            font-size: 20px;
            font-weight: bold;
        }
    }

    .changedStatusesList {
        margin-top: 20px;
        width: 100%;
        height: 210px;
        overflow-y: auto;

        .title {
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 10px;
        }

        .changedStatus {
            margin-bottom: 10px;

            display: flex;
            justify-content: space-between;
            align-items: center;

            .statusAttr {
                font-size: 15px;

                > span {
                    font-weight: bold;
                }
            }
        }
    }
}
