$defaultValueColor: grey;
$stringValueColor: orange;
$numberValueColor: blue;
$booleanValueColor: coral;
$nullValueColor: green;
$objectValueColor: indigo;
$symbolColor: black;

$errorColor: red;
$touchedColor: rgb(98, 98, 241);
$collapcedColor: rgb(113, 5, 236);

$backgroundColor: rgb(247, 247, 247);
