@import 'colorVariables.scss';

.stateWpapper {
    width: 100%;

    font-family: monospace;
    font-size: 13px;
    padding: 10px;

    border: 2px solid $backgroundColor;
    border-bottom: 10px solid $backgroundColor;
    border-left: 10px solid $backgroundColor;

    &.error {
        border: 2px solid $errorColor;
        border-bottom: 10px solid $errorColor;
    }

    &.touched {
        border-left: 10px solid $touchedColor;
    }

    .collapsedWrap {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        cursor: pointer;

        .name {
            display: flex;
            align-items: center;
            cursor: pointer;

            border-bottom: 2px dotted $backgroundColor;

            &:hover {
                border-bottom: 2px dotted $symbolColor;
            }

            > img {
                width: 10px;
                height: 10px;
                margin-right: 10px;
            }

            font-weight: bold;
        }

        .collapsedValue {
            margin-left: 10px;
            color: $collapcedColor;

            &.stringValueColor {
                color: $stringValueColor;
            }
            &.numberValueColor {
                color: $numberValueColor;
            }
            &.booleanValueColor {
                color: $booleanValueColor;
            }
            &.objectValueColor {
                color: $objectValueColor;
            }
            &.undefinedValueColor {
                color: $defaultValueColor;
            }
            &.nullValueColor {
                color: $nullValueColor;
            }
        }
    }

    .datailedValue {
        .value {
            color: $defaultValueColor;

            margin-left: 40px;

            .string {
                color: $stringValueColor;
            }
            .number {
                color: $numberValueColor;
            }
            .boolean {
                color: $booleanValueColor;
            }
            .null {
                color: $nullValueColor;
            }
            .objectProp {
                color: $objectValueColor;
            }

            .inline {
                display: flex;
                justify-content: flex-start;
            }

            span {
                color: $symbolColor;
            }
        }
    }

    .errorText {
        margin-top: 20px;
        color: $errorColor;
        margin-left: 40px;
    }

    .touchedText {
        margin-top: 20px;
        color: $touchedColor;
        margin-left: 40px;
    }
}
