@import '../../styles/colorVariables.scss';

.stateWrapper {
    width: 100%;
    font-family: 'Inconsolata', monospace;
    line-height: 17px;
    font-size: 14px;
    padding: 10px;

    border: 2px solid $backgroundColor;
    border-bottom: 10px solid $backgroundColor;
    border-left: 10px solid $backgroundColor;

    &.error {
        border: 2px solid $errorColor;
        border-bottom: 10px solid $errorColor;
    }

    &.touched {
        border-left: 10px solid $touchedColor;
    }

    .collapsedWrap {
        font-family: inherit;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        cursor: pointer;

        .name {
            font-family: inherit;
            color: $fieldName;
            display: flex;
            align-items: center;
            cursor: pointer;

            border-bottom: 1px solid $backgroundColor;

            &:hover {
                border-bottom: 1px solid $fieldName;
            }

            > img {
                width: 10px;
                height: 10px;
                margin-right: 10px;
                background: $fieldName;
                padding: 2px;
                border-radius: 50%;
                box-sizing: content-box;
            }

            font-weight: bold;
        }

        .collapsedValue {
            font-family: inherit;
            margin-left: 10px;
            color: $collapsedColor;

            &.stringValueColor {
                color: $stringValueColor;
            }
            &.numberValueColor {
                color: $numberValueColor;
            }
            &.booleanValueColor {
                color: $booleanValueColor;
            }
            &.objectValueColor {
                color: $objectValueColor;
            }
            &.undefinedValueColor {
                color: $defaultValueColor;
            }
            &.nullValueColor {
                color: $nullValueColor;
            }
        }
    }

    .datailedValue {
        .value {
            color: $defaultValueColor;

            margin-left: 40px;

            .string {
                color: $stringValueColor;
            }
            .number {
                color: $numberValueColor;
            }
            .boolean {
                color: $booleanValueColor;
            }
            .null {
                color: $nullValueColor;
            }

            .objectProp {
                color: $objectValueColor;
            }

            .inline {
                display: flex;
                justify-content: flex-start;
            }

            span {
                color: $symbolColor;
            }
        }
    }

    .errorText {
        margin-top: 10px;
        color: $errorColor;
        margin-left: 0px;
        font-weight: bold;
        font-size: 14px;
    }

    .touchedText {
        margin-top: 10px;
        color: $touchedColor;
        margin-left: 0px;
        font-size: 14px;
        font-weight: bold;
    }
}
